{% extends 'base.html' %}

{% block content %}
   <main>
      <div class="about-container">
         <h1>Acerca de Nosotros</h1>
         <div class="about-content">
           <div class="about-text">
             <h2>Sentra </h>
             <p>En Sentra, entendemos que tu vehículo es más que un medio de transporte; es una parte esencial de tu vida. Nos dedicamos a ofrecer reparaciones de alta calidad, garantizando que cada viaje sea seguro y placentero. Con un equipo de expertos comprometidos y tecnología de vanguardia, estamos aquí para mantener tu auto en óptimas condiciones. ¡Confía en Sentra para que cada kilómetro cuente!</p>
             <p>En Sentra, nuestra misión es proporcionar servicios de reparación vehicular de la más alta calidad, asegurando la seguridad y el rendimiento óptimo de cada vehículo que atendemos. Nos comprometemos a ofrecer un servicio al cliente excepcional, basándonos en la transparencia y la confianza, para que nuestros clientes se sientan seguros en cada viaje.</p>
             <p>Nuestra visión es ser la empresa líder en reparaciones vehiculares en la región, reconocida por la excelencia en nuestros servicios y la satisfacción del cliente. Aspiramos a innovar constantemente en nuestras técnicas y tecnologías, construyendo relaciones duraderas con nuestros clientes y contribuyendo a una movilidad más segura y eficiente para todos.</p>
           </div>
           <div class="about-image">
             <img src="/static/MEDIA/diag_vec-500x290.jpg" alt="Imagen del supermercado">
           </div>
         </div>
       </div>
   </main>
   </body>
{% endblock %}